<a href="https://colab.research.google.com/github/ndawinata/googleCO/blob/master/loading_data_minggu_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import file pake coding

from google.colab import files
upload = files.upload()

In [0]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.6.16)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)

In [0]:
!mkdir ~/.kaggle #buat directory kaggle
!cp kaggle.json ~/.kaggle/ #copy file
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [4]:
!kaggle datasets download -d lintangwisesa/regions-of-indonesia

Downloading regions-of-indonesia.zip to /content
  0% 0.00/720k [00:00<?, ?B/s]
100% 720k/720k [00:00<00:00, 49.5MB/s]

In [6]:
!unzip regions-of-indonesia.zip

Archive:  regions-of-indonesia.zip
  inflating: RI_4desa.csv
  inflating: RI_3kecamatan.csv
  inflating: RI_1provinsi.csv
  inflating: RI_2kabupatenkota.csv

In [8]:
import pandas as pd

df = pd.read_csv('RI_1provinsi.csv')
df.head()

   code  parent_code            name
0    11            0            ACEH
1    12            0  SUMATERA UTARA
2    13            0  SUMATERA BARAT
3    14            0            RIAU
4    15            0           JAMBI

In [9]:
!kaggle datasets download -d lintangwisesa/produksi-pertanian-indonesia-bps-19932015

Downloading produksi-pertanian-indonesia-bps-19932015.zip to /content
  0% 0.00/17.0k [00:00<?, ?B/s]
100% 17.0k/17.0k [00:00<00:00, 16.1MB/s]

In [10]:
!unzip produksi-pertanian-indonesia-bps-19932015.zip

Archive:  produksi-pertanian-indonesia-bps-19932015.zip
  inflating: KacangHijau.csv
  inflating: KacangTanah.csv
  inflating: UbiKayu.csv
  inflating: UbiJalar.csv
  inflating: Jagung.csv
  inflating: Kedelai.csv
  inflating: Padi.csv

In [11]:
df1 = pd.read_csv('Padi.csv')
df1.head()

         Provinsi     1993     1994  ...     2013     2014     2015
0            ACEH  1299699  1329536  ...  1956940  1820062  2331046
1  SUMATERA UTARA  2918152  3079960  ...  3727249  3631039  4044829
2  SUMATERA BARAT  1806424  1747543  ...  2430384  2519020  2550609
3            RIAU   436297   445361  ...   434144   385475   393917
4           JAMBI   607529   564722  ...   664535   664720   541486

[5 rows x 24 columns]

In [16]:
df1.columns

Index(['Provinsi', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [22]:
df2 = df1[['Provinsi','1993','2015']]
df2.head()

         Provinsi     1993     2015
0            ACEH  1299699  2331046
1  SUMATERA UTARA  2918152  4044829
2  SUMATERA BARAT  1806424  2550609
3            RIAU   436297   393917
4           JAMBI   607529   541486