<a href="https://colab.research.google.com/github/ndawinata/googleCO/blob/master/membersihkan_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import vega_datasets
import pandas as pd

In [0]:
bs = vega_datasets.data.birdstrikes()

In [3]:
bs.head()

  Aircraft__Airline_Operator  ...    Wildlife__Species
0                   MILITARY  ...       Turkey vulture
1                   MILITARY  ...  Unknown bird or bat
2                   MILITARY  ...  Unknown bird or bat
3         SOUTHWEST AIRLINES  ...          Rock pigeon
4                   MILITARY  ...  Unknown bird or bat

[5 rows x 14 columns]

In [5]:
bs['Speed_IAS_in_knots'].isna() #cek apakah ada data kosong. bila TRUE berarti ada data kosong

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19       True
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9970    False
9971    False
9972    False
9973    False
9974    False
9975     True
9976     True
9977     True
9978    False
9979    False
9980    False
9981    False
9982    False
9983    False
9984     True
9985    False
9986    False
9987    False
9988    False
9989     True
9990    False
9991    False
9992     True
9993    False
9994     True
9995     True
9996    False
9997    False
9998    False
9999    False
Name: Speed_IAS_in_knots, Length: 10000, dtype: bool

In [8]:
rata_rata = bs['Speed_IAS_in_knots'].mean()
rata_rata

153.53517587939697

In [11]:
#mengisi data yang kosong

bs['Speed_IAS_in_knots'] = bs['Speed_IAS_in_knots'].fillna(rata_rata)
bs['Speed_IAS_in_knots']

0       300.000000
1       200.000000
2       130.000000
3       140.000000
4       160.000000
5       180.000000
6       140.000000
7       190.000000
8       180.000000
9       130.000000
10      180.000000
11      150.000000
12      200.000000
13      190.000000
14      150.000000
15      250.000000
16      150.000000
17      160.000000
18      135.000000
19      153.535176
20      120.000000
21      210.000000
22      180.000000
23      150.000000
24      140.000000
25      180.000000
26      140.000000
27      235.000000
28      105.000000
29      190.000000
           ...
9970    120.000000
9971    250.000000
9972    130.000000
9973    120.000000
9974    100.000000
9975    153.535176
9976    153.535176
9977    153.535176
9978    180.000000
9979    170.000000
9980    120.000000
9981    160.000000
9982    150.000000
9983    130.000000
9984    153.535176
9985    100.000000
9986    160.000000
9987    120.000000
9988    120.000000
9989    153.535176
9990    110.000000
9991    140.000000
9992    153.535176
9993    220.000000
9994    153.535176
9995    153.535176
9996    250.000000
9997    120.000000
9998    110.000000
9999    140.000000
Name: Speed_IAS_in_knots, Length: 10000, dtype: float64