<a href="https://colab.research.google.com/github/ndawinata/googleCO/blob/master/RandomForestIris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Random Forest Iris Datasets
sumber : https://www.youtube.com/watch?v=2e0A0afkj4U

In [1]:
import vega_datasets
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import  r2_score

In [4]:
iris = vega_datasets.data.iris()
spc = {'setosa':1, 'versicolor':2, 'virginica':3}
iris['spc'] = [spc[r] for r in iris['species']]

In [5]:
iris

     sepalLength  sepalWidth  petalLength  petalWidth    species  spc
0            5.1         3.5          1.4         0.2     setosa    1
1            4.9         3.0          1.4         0.2     setosa    1
2            4.7         3.2          1.3         0.2     setosa    1
3            4.6         3.1          1.5         0.2     setosa    1
4            5.0         3.6          1.4         0.2     setosa    1
..           ...         ...          ...         ...        ...  ...
145          6.7         3.0          5.2         2.3  virginica    3
146          6.3         2.5          5.0         1.9  virginica    3
147          6.5         3.0          5.2         2.0  virginica    3
148          6.2         3.4          5.4         2.3  virginica    3
149          5.9         3.0          5.1         1.8  virginica    3

[150 rows x 6 columns]

In [11]:
X = iris[['petalLength','petalWidth','sepalLength','sepalWidth']]
y = iris['spc']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [16]:
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [17]:
y_pred = clf.predict(X_test)

In [18]:
y_pred

array([2, 1, 3, 2, 2, 1, 2, 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 2, 2, 3, 1, 3,
       1, 3, 3, 3, 3, 3, 1, 1])

In [19]:
r2_score(y_test, y_pred) #bila hasilnya satu berarti 100% akurat

1.0

In [29]:
clf.predict([[1.7,0.3,5.7,3.8]])

array([1])

In [28]:
X_test.head()

     petalLength  petalWidth  sepalLength  sepalWidth
73           4.7         1.2          6.1         2.8
18           1.7         0.3          5.7         3.8
118          6.9         2.3          7.7         2.6
78           4.5         1.5          6.0         2.9
76           4.8         1.4          6.8         2.8